@import url('https://fonts.googleapis.com/css?family=poppins:100,200,300,400,500,600,700,800,900');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
body{
    min-height: 100vh;
    background-color: #0c192c;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 1rem;
    height: 1rem;
    background-color: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even){
    background-color: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d7544, 0 0 100px #ff2d75;
}
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}
.bd-txt{
    display: block;
    align-items: center;
    justify-content: center ;
    text-align: center;
    margin-top: 20rem;
    animation: animation3 20s linear forwards ;
    position: relative;
    /* background-color: red; */
}

@keyframes animation3{
    0%{
        top:100%;
    }
    100%{
        top:-100%;
    }
}


.txt span {
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform-style: preserve-3d;
    color: white;
    text-transform: uppercase;
    font-size: 3.5em;
    white-space: nowrap;
    font-weight: 900;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.603);
    /* background: linear-gradient(90deg, transparent, rgb(0, 0, 0)); */
    line-height: 0.76em;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    transform: translate(-50%, -50%) rotateX(calc(var(--i) * 22.5deg)) translateZ(106px);
}


.txt span i:nth-child(1){
    font-style: initial;
    color: #ff246f;
}
.txt span i:nth-child(2){
    font-style: initial;
    color: #4fc3dc;
}
.txt {
    position: relative;
    transform-style: preserve-3d;
    animation: animation2 9s linear infinite ;
    margin-top: 10rem;
}

@keyframes animation2 {
    0% {
        transform: perspective(1000px) rotateX(0deg) rotate(15deg);
    }
    100% {
        transform: perspective(1000px) rotateX(360deg) rotate(15deg);
        /* visibility: hidden; */
    }

   
}
#card2{
    height: 20rem;
}
.card{
    /* background-color: yellow; */
    /* height: 20rem ; */
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.card1{
    padding: 10px;
    color: white;
    animation: c1t1 2s linear forwards;
    animation-delay: 5.7s;

}
.card2{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    color: white;
    animation: c2t2 2s linear forwards;
    animation-delay: 8.1s;
}
.card2 img{
    border-radius: 50%;
}

@keyframes c1t1{
    0%{
        transform: rotate(180deg) scale(0);
        color: rgb(255, 47, 186);
    }
    100%{
        transform: rotate(0deg) scale(1);
        color: rgb(255, 255, 255);
    }
}
@keyframes c2t2{
    0%{
        transform:  scale(0);
    }
    100%{
        transform:  scale(1);
    }
}

.card3{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    color: white;
    animation: c2t2 2s linear forwards;
    animation-delay: 11.2s;
}
